
#title {
  background-color: black;
  color: #fff;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}
p {
  font-family: 'Lato', sans-serif;
}
.container {
  padding: 3%;
}

